__pycache__/
*.pyc
db.sqlite3
.vscode/
venv/
djvenv/
backend/staticfiles/
*/staticfiles/
backend/static/admin/
*/static/admin/
backend/media/
*/media/
*.log
backend/logs/
logs/
.env
backend/.dockerignore